.map {
  width: 40vw;
  height: 40vh;
}

@media (max-width: 1160px) {
  .map {
    width: 90vw;
  }
}

@media (max-width: 560px) {
  .map {
    width: 75vw;
  }
}

@media (max-width: 370px) {
  .map {
    width: 80vw;
  }
}
