.footer {
  background-color: #000;
  margin-top: 20px;
  height: 35px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
