@import "public/styles/variables.scss";

.about {

  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .about__block {
    display: flex;
    justify-content: center;

    .about__inner {
      h1 {
        text-align: left;
      }

      .about__title {
        font-size: 22px;
        font-weight: 700;
        color: black;
      }

      .about__text {
        color: black;
        font-style: italic;
        margin-bottom: 10px;
      }
    }

    &:last-child {
      padding: 10px;
      width: 820px;
    }
  }

  .about__image {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .about {
    justify-content: center;

    .about__block {

      &:last-child {
        width: 1000px;
        margin-top: 50px;
      }
    }
  }
}
