@import "public/styles/variables.scss";

.heading {
  white-space: nowrap;
}

.questions {
  display: flex;

  .question__block {
    .questionImg {
      max-width: 700px;
      width: 100%;
    }

    &:first-child {
      margin-right: 5%;
    }
    &:last-child {
      width: 500px;
    }
  }
}

.title {
  color: #000;
  line-height: 2.7rem;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3.6px;
  margin: 30px 0;
  white-space: nowrap;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    width: 33%;
    height: 1px;
    margin: 0 30px 0 30px;
    display: block;
    background-color: #000;
    content: "";
  }
}

.about {
  color: black;
  margin-left: 2%;
  text-align: center;

  &__title {
    font-weight: bold;
  }

  &__paragraph {
    margin: 0 50px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__block {
    color: #000;

    .contacts__title {
      font-weight: 700;
      font-size: 22px;
      color: $violet;
    }

    &:last-child {
      margin-right: 20%;
    }
  }
}

.messengers {
  position: fixed;
  bottom: 50px;
  right: 40px;

  .open {
    display: block;
    margin-bottom: 8px;
  }

  .closed {
    display: none;
  }

  .messengersBtn {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #68D391;
    cursor: pointer;
  }

  .backgroundBtn {
    background: #fff;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
  }

  .iconMessageImg {
    margin: 12px;
    width: 30px;
  }

  .iconSocial {
    width: 27px;
    margin-top: 6px;
  }
}

@media (max-width: 1160px) {
  .questions {
    justify-content: flex-start;
    flex-wrap: wrap;

    .question__block {
      justify-content: flex-start;

      .questionImg {
        max-width: 1000px;
      }

      &:last-child {
        margin-top: 5%;
      }
    }
  }

  .contacts {
    height: 700px;

    &__block {
      width: 700px;

      .contacts__title {
        font-weight: 700;
        font-size: 22px;
        color: $violet;
      }

      &:last-child {
        margin-top: 5%;
      }
    }
  }
  .messengers {
    right: 20px;
  }
}

@media (max-width: 560px) {
  .questions {
    .question__block {
      &:last-child {
        width: 100%;
      }
    }
  }
  .messengers {
    right: 10px;
  }
}

@media (max-width: 370px) {
  .questions {
    .question__block {
      &:last-child {
        width: 70%;

        input {
          width: 220px;
        }
      }
    }
  }
}
