.about {
  min-height: 100%;
  width: 98%;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;

  .wrapper__Block {
    flex: 1;

    .home__inner {
      color: black;
      width: 80%;

      h1 {
        text-align: left;
      }
    }
  }
}
